:root {
  --full: calc(var(--vh, 1vh) * 100);
  --limit: 600px;
  --spacing: 1em;
  --opacity-recolor: 0.6;
  --create-space: 4.6rem;

  --darkest: #202124;
  --dark: #27292b;
  --middle: #777777;
  --light: #e5e5e5;
  --lightest: #f0f0f0;
  --accent: #e2a316;
  --accent-contract: var(--darkest);

  --DARK-lvl2: var(--dark);
  --DARK-background: var(--darkest);
  --DARK-foreground: var(--light);

  --LIGHT-lvl2: var(--lightest);
  --LIGHT-foreground: var(--darkest);
  --LIGHT-background: var(--light);
}

body {
  --lvl2: var(--DARK-lvl2);
  --background: var(--DARK-background);
  --foreground: var(--DARK-foreground);
}

@media (prefers-color-scheme: light) {
  body.themed:not(.dark) {
    --lvl2: var(--LIGHT-lvl2);
    --foreground: var(--LIGHT-foreground);
    --background: var(--LIGHT-background);
  }
}

body.themed.light {
  --lvl2: var(--LIGHT-lvl2);
  --foreground: var(--LIGHT-foreground);
  --background: var(--LIGHT-background);
}

html, body {
  margin: 0;
  padding: 0;
  background: var(--background);

  font-family: sans-serif;
  color: var(--foreground);
  line-height: 1.2;
}

* {
  box-sizing: border-box;
}

.unsupported {
  text-align: center;
}
.unsupported a {
  color: white;
  font-weight: bold;
}

.header-container.error {
  font-weight: bold;
  background: #d64c4f;
}

.container {
  position: relative;
  height: var(--full);

  display: flex;
  flex-direction: column;
}

.contents {
  width: 100%;
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.limit {
  width: 100%;
  max-width: var(--limit);
  margin-left: auto;
  margin-right: auto;
}

.hide {
  display: none !important;
}

.invisible {
  opacity: 0;
}

.stealthy {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
}

a {
  color: #6daddd;
}

/** STUFF ABOVE IS STANDARD FRAMEWORK **/

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.preview {
  font-style: italic;
  text-align: center;
  line-height: 1.5;
}

.preview > div {
  background: var(--foreground);
  color: var(--background);
  padding: 10px;
}

.main {
  position: relative;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: calc(var(--spacing));
}

i.material-icons {
  user-select: none;
  padding: 0 0 0 10px;
}

.create-vars {
  --fill: var(--lvl2);
  --spacing: 0.8rem;
  --size: calc(var(--create-space) - var(--spacing) - var(--spacing));
  --shadow: 0px 4px 8px -4px black, 0 0 3px -1px inset var(--foreground);
  --timing: 500ms;
}

.create {
  position: fixed;
  bottom: var(--spacing);
  right: var(--spacing);
  width: var(--size);
  height: var(--size);
  border-radius: var(--size);
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--fill);
  box-shadow: var(--shadow);
  transform: translateX(calc(var(--spacing) + 100%));
  transition: var(--timing);
}
.create.open {
  transform: translateX(0);
}

.create i {
  font-size: calc(var(--size) - 0.6rem);
  padding: 0;
}

.floating-menu {
  position: fixed;
  bottom: var(--create-space);
  right: var(--spacing);
  display: flex;
  flex-direction: column;
  transform: translateX(calc(var(--spacing) + 100%));
  transition: var(--timing);
}
.floating-menu.open {
  transform: translateX(0);
}

.fm-option {
  height: 2.2rem;
  width: 7rem;
  border-radius: 6rem;
  background: var(--fill);
  box-shadow: var(--shadow);
  margin-top: var(--spacing);
  display: flex;
  align-items: center;
  justify-content: center;
}

/* MENU */

.menu {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,0,0,0.5);
  user-select: none;
  z-index: 10;
}

.menu > ul {
  position: absolute;
  bottom: 0;
  background: var(--background);
  padding: 0;
  margin: 0;
  list-style: none;
  border-radius: 5px 5px 0 0;
  left: 0;
  right: 0;
  margin: 0 auto;
}

.menu > ul > li {
  display: flex;
  align-items: center;
  padding: 20px;
}

.menu > ul > li > i {
  padding-right: 0.5em;
}

.menu > ul > li.meta {
  opacity: 0.75;
  font-weight: bold;
  justify-content: center;
}

/* TOAST STYLE */

.toastify.toastify.toastify {
  width: calc(100% - 20px);
  max-width: var(--limit);
  text-align: center;
}

/* CARD */

.card {
  --pad-size: 10px;
  --shadow: 0px 4px 8px -4px black;
  --shadow-raised: 0 6px 16px -2px black;
  --shadow-inset: 0 0 2px inset var(--foreground);
  --radius: 5px;

  position: relative;
  width: calc(100% - 40px);
  background: var(--lvl2);
  border-radius: var(--radius);
  box-shadow: var(--shadow);
  overflow: hidden;
  margin: var(--spacing) auto 0;
}

.card.focused {
  box-shadow: var(--shadow-raised);
}
.card .focus-inset {
  display: none;
}
.card.focused .focus-inset {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  border-radius: var(--radius);
  pointer-events: none;
  box-shadow: var(--shadow-inset);
}

.card .title, .card .text {
  padding-left: var(--pad-size);
  padding-right: var(--pad-size);
  padding-top: var(--pad-size);
}
.card .edit {
  padding-bottom: var(--pad-size);
}

.card p {
  margin: 0;
  line-height: 1.5;
}

.card .title {
  font-size: 1.2rem;
}

.card img {
  display: block;
  max-width: 100%;
}

.card .buttons {
  padding: var(--pad-size);
  display: flex;
  justify-content: flex-end;
  align-items: center;
  cursor: default;
  opacity: var(--opacity-recolor);
}

.card .date {
  font-size: 0.8rem;
  font-style: italic;
}

.card .edit {
  position: relative;
}
.card .edit:empty::after {
  content: attr(data-title);
  padding: 0 var(--pad-size);
  opacity: var(--opacity-recolor);
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  user-select: none;
  pointer-events: none;
}

/* CONTROLS */

.controls {
  text-align: center;
  margin-top: 20px;
}

.controls > div {
  margin: 0 0 20px 0;
}

.controls button {
  width: 10rem;
  height: 3rem;
  padding: 0.5rem 0px;
  margin: 5px;
  background: rgba(128, 128, 128, 0.1);
  color: var(--foreground);
  border: none;
  outline: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 0.9rem;
  vertical-align: top;
  line-height: 1.5
}

.controls button.selected {
  border: 2px solid var(--accent);
}

/* SPLASH */

.splash {
  position: fixed;
  display: flex;
  align-items: center;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  background: var(--background);
}

.splash img {
  max-width: 100%;
  max-height: 50vh;
}
